html,
body {
    height: 100%;
}

body {
    background-image: url(../images/picture.jpg);
    background-position: center;
    background-size: cover;
}

footer {
    position: fixed;
    bottom: 0;
    color: white;
    padding: 25px;
    font-size: 25px;
}

#intro.jumbotron {
    background: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

p.lead {
    font-size: 20px;
}

a:hover {
    text-decoration: none;
}
