
* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}

body {
    background-image: url(../images/picture.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

#intro.jumbotron {
    background: none;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: -50px;
    min-height: 100%;
    padding: 20px;
}

p.lead {
    font-size: 20px;
}

a:hover {
    text-decoration: none;
}

.push,
#contributors {
    height: 50px;
    color: white;
    text-shadow: 1px 1px black;
    padding: 25px;
    font-size: 25px;
}
