#time {
    color: rgb(107, 106, 106);
}

.fa-money-bill {
    color: green;
}

.card-img-top {
    width: 100%;
    height: 15vh;
    object-fit: cover;
}

.name {
    text-transform: capitalize;
}

#paid-total {
    font-size: 20px;
}

#product-info .card-img-top {
    height: 30vh;
}

#contributors {
    margin-bottom: 0;
    color: white;
    padding: 15px;
    font-size: 25px;
}
dl, ol, ul{
    margin-bottom: 0;
}
h5 {
    color: black;
    letter-spacing: 2px;
    text-shadow: 1px 1px white;
}
@media screen and (max-width: 650px) {
#contributors {
    font-size: 20px;
}
p{
    font-size: 40%;
}
}   